.projectsWrapper {
  position: absolute;
  top: 163px;
  right: 89.41px;
  width: 1300.59px;
  height: 1003.74px;
}
.logoTrans1 {
  position: absolute;
  top: 10px;
  left: 103px;
  width: 124px;
  height: 67px;
  object-fit: cover;
  cursor: pointer;
}
.caseStudyExample {
  position: relative;
  background-color: var(--bg);
  width: 100%;
  height: 1752px;
  overflow: hidden;
}
