.pexelsDavidBartus6102931Icon,
.pexelsLuisGomes5468191Icon {
  position: absolute;
  height: 48.78%;
  width: 36.37%;
  top: 0;
  right: 63.63%;
  bottom: 51.22%;
  left: 0;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.pexelsLuisGomes5468191Icon {
  height: 48.75%;
  width: 62.21%;
  right: 0;
  bottom: 51.25%;
  left: 37.79%;
}
.enablingAutomatedAccessibili {
  position: absolute;
  height: 6.49%;
  width: 53.05%;
  top: 31.66%;
  left: 40.9%;
  display: inline-block;
}
.groupChild {
  position: absolute;
  height: 2.11%;
  width: 18.49%;
  top: 98.94%;
  right: 81.77%;
  bottom: -1.06%;
  left: -0.26%;
  border-top: 2px solid var(--color-tomato);
  box-sizing: border-box;
}
.buildingAComprehensive {
  position: absolute;
  height: 82.48%;
  width: 99.92%;
  top: 0;
  left: 0.08%;
  display: inline-block;
}
.lineParent {
  position: absolute;
  height: 12.27%;
  width: 29.17%;
  top: 28.28%;
  right: 69.24%;
  bottom: 59.45%;
  left: 1.59%;
}
.pexelsPixabay3560401Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.pexelsPixabay3560401Wrapper {
  position: absolute;
  height: 100%;
  width: 38.26%;
  top: 0;
  right: 61.74%;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.pexelsCottonbroStudio872134Wrapper {
  position: absolute;
  height: 100%;
  width: 28.91%;
  top: 0;
  right: 31.34%;
  bottom: 0;
  left: 39.76%;
}
.groupItem,
.pexelsRodnaeProductions5915Wrapper {
  position: absolute;
  height: 100%;
  width: 29.84%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 70.16%;
}
.groupItem {
  height: 2.12%;
  width: 15.38%;
  top: 98.94%;
  right: 84.84%;
  bottom: -1.06%;
  left: -0.22%;
  border-top: 2px solid var(--color-tomato);
  box-sizing: border-box;
}
.creatingChangeWith {
  position: absolute;
  height: 81.66%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.groupInner,
.lineGroup {
  position: absolute;
  height: 25.1%;
  width: 35.06%;
  top: 56.95%;
  right: 63.25%;
  bottom: 17.95%;
  left: 1.69%;
}
.groupInner {
  height: 2.97%;
  width: 21.58%;
  top: 98.51%;
  right: 78.73%;
  bottom: -1.49%;
  left: -0.31%;
  border-top: 2px solid var(--color-tomato);
  box-sizing: border-box;
}
.loremIpsumLorem {
  position: absolute;
  height: 74.3%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.groupDiv,
.lineContainer {
  position: absolute;
  height: 17.91%;
  width: 24.99%;
  top: 64.94%;
  right: 34.11%;
  bottom: 17.15%;
  left: 40.9%;
}
.groupDiv {
  right: 3.74%;
  left: 71.28%;
}
.groupChild1,
.groupParent {
  position: absolute;
  height: 48.75%;
  width: 100%;
  top: 51.25%;
  right: 0;
  bottom: 0;
  left: 0;
}
.groupChild1 {
  height: 0.26%;
  width: 6.14%;
  top: 40.28%;
  right: 53.06%;
  bottom: 59.46%;
  left: 40.8%;
  border-top: 2px solid var(--color-tomato);
  box-sizing: border-box;
}
.pexelsDavidBartus6102931Parent {
  position: absolute;
  height: 76.79%;
  width: 100%;
  top: 23.21%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  font-size: var(--heading-label-size);
  color: var(--color-white);
  font-family: var(--paragraph);
}
