.exploreTheTransformative {
  position: absolute;
  top: 51px;
  right: 417.59px;
  line-height: 120%;
  display: inline-block;
  width: 787px;
}
.caseStudies {
  position: absolute;
  top: -19px;
  left: 96px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.lineIcon,
.lineIcon1,
.vectorIcon {
  position: absolute;
  top: -10.5px;
  left: 0;
  width: 16px;
  height: 2px;
}
.lineIcon1,
.vectorIcon {
  left: 56px;
}
.vectorIcon {
  height: 5.73%;
  width: 152.63%;
  top: -7.49%;
  right: -168.42%;
  bottom: 101.76%;
  left: 115.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sectionTitle,
.sectionTitle1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 19px;
  height: 227px;
  
  transform-origin: 0 0;
}
.sectionTitle {
  top: 19px;
  font-size: var(--paragraph-size);
}
.projects {
  position: absolute;
  top: 0;
  right: 0;
  width: 1300.59px;
  height: 1003.74px;
  text-align: left;
  font-size: var(--h2-size);
  color: var(--b);
  font-family: var(--paragraph);
}
