.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslategray);
}
.govright15Jan20232043281 {
  position: relative;
  width: 141px;
  height: 53px;
  object-fit: cover;
}
.govright15Jan20232043281Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.footerInner,
.frameWrapper,
.govright15Jan20232043281Wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.footerInner {
  height: 13.18%;
  width: 9.4%;
  top: 21.39%;
  right: 84.33%;
  bottom: 65.42%;
  left: 6.27%;
  display: none;
}
.secondaryButtonText {
  position: relative;
  font-size: var(--paragraph-size);
  font-weight: 500;
  font-family: var(--paragraph);
  color: var(--b);
  text-align: right;
}
.input,
.secondaryButton {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
}
.secondaryButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-white);
  width: 25%;
  right: 0;
  left: 75%;
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input {
  border: 1px solid var(--color-aliceblue);
  background-color: transparent;
  width: 83.82%;
  right: 16.18%;
  left: 0;
}
.yourEmail {
  position: absolute;
  top: 34.38%;
  left: 4.41%;
  font-size: var(--paragraph-size);
  font-family: var(--paragraph);
  color: var(--color-aliceblue);
  text-align: left;
  opacity: 0.8;
}
.formField {
  position: absolute;
  height: 30.77%;
  width: 100%;
  top: 69.23%;
  right: 0;
  bottom: 0;
  left: 0;
}
.subscribeToGet {
  position: absolute;
  width: 80.88%;
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  line-height: 140%;
  display: inline-block;
  font-family: var(--paragraph);
  color: var(--color-white);
  text-align: left;
}
.form {
  position: absolute;
  height: 51.74%;
  width: 36.27%;
  top: 23.88%;
  right: 7.33%;
  bottom: 24.38%;
  left: 56.4%;
}
.caseStudies,
.contactUs {
  position: absolute;
  top: 89.52%;
  left: 0;
  line-height: 160%;
  opacity: 0.78;
}
.caseStudies {
  top: 67.62%;
}
.aboutUs {
  top: 45.71%;
  opacity: 0.78;
}
.aboutUs,
.home,
.services {
  position: absolute;
  left: 0;
  line-height: 160%;
}
.services {
  top: 23.81%;
  opacity: 0.78;
}
.home {
  top: 0;
  font-size: var(--paragraph-size);
}
.connect,
.ourTeam {
  position: absolute;
  height: 100%;
  width: 13.83%;
  top: 0;
  right: 33.73%;
  bottom: 0;
  left: 52.45%;
}
.connect {
  width: 10.79%;
  right: 0;
  left: 89.21%;
}
.contactsattvacom,
.div,
.xyzStreetCity {
  position: absolute;
  top: 74.42%;
  left: 0;
  line-height: 160%;
  opacity: 0.78;
}
.div,
.xyzStreetCity {
  top: 37.21%;
}
.xyzStreetCity {
  top: 0;
}
.connect2,
.links {
  position: absolute;
  height: 40.95%;
  width: 29.51%;
  top: 41.43%;
  right: 70.49%;
  bottom: 17.62%;
  left: 0;
}
.links {
  height: 52.24%;
  width: 39.53%;
  top: 24.38%;
  right: 54.2%;
  bottom: 23.38%;
  left: 6.27%;
}
.footer,
.groupChild {
  position: absolute;
  top: 97px;
  left: 0;
  width: 1500px;
  height: 402px;
}
.groupChild {
  top: 0;
  background-color: var(--color-tomato);
  box-shadow: 15px 15px 10px 5px rgba(0, 0, 0, 0.25);
  width: 934px;
  height: 141px;
}
.primaryButtonText {
  position: relative;
  font-size: var(--paragraph-size);
  font-weight: 500;
  font-family: var(--paragraph);
  color: var(--color-black);
  text-align: right;
}
.primaryButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-13xl);
  background-color: var(--color-white);
  position: absolute;
  top: 46px;
  left: 699px;
  border-radius: var(--br-9xs);
  backdrop-filter: blur(80px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.readyToGet {
  position: absolute;
  top: 29px;
  left: 32px;
}
.rectangleParent,
.unlockThePotential {
  position: absolute;
  top: 77px;
  left: 32px;
  font-size: var(--paragraph-size);
}
.rectangleParent {
  top: 0;
  left: 272px;
  width: 934px;
  height: 141px;
  font-size: var(--font-size-13xl);
}
.logoFull1 {
  position: absolute;
  top: 193.26px;
  left: 94px;
  width: 229px;
  height: 77px;
  object-fit: cover;
}
.footerParent {
  position: absolute;
  top: 3452px;
  left: 0;
  width: 1500px;
  height: 499px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--paragraph);
}
